.hd{
    margin-top: 60px;
    margin-bottom: 60px;
}

.head{
    position: absolute;
    width: 100%;
    height: 90px;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 999;
}

#menufix{
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    width: 100%;
}

#nav{
    font-size: 22px;
    font-weight: 600;
    color: #222;
    margin-left: 5%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    /* line-height: 90px; */
    align-items: center;
}

.home1:hover{
    border-bottom: 3px solid #ff7f46;
    color: #ff7f46;
    -webkit-transition: all .3s linear;
}

.home1{
    margin: 0 30px;
    padding:  10px 40px;
    font-size: 17px;
    color: #222;
}

.learnmore{
    margin-top: 5px;
}

.learn, .read{
    line-height: normal;
    padding: 15px 35px;
    background-color: #ff7f46;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.read{
    text-decoration: none;
}

.learn:hover, .read:hover{
    background-color: #fff;
    color: #ff7f46;
    border: 1px solid #ff7f46;
}

.bann{
    /* height: 100vh; */
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url('../assets/banner.jpg');
    padding: 80px;
}

.bann::after{
    position: absolute;
    content: "";
    background: url('../assets/pen.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 160px;
    top: 150px;
    left: 0;
    z-index: 1;
    opacity: .5;
    animation: banner_ani 4s linear infinite;
}

@keyframes banner_ani{
    0%{
        top: 120px;
    }
    100%{
        top: 150px;
    }
}

.bann::before{
    position: absolute;
    content: " ";
    background: url('../assets/arrowshapes.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 120px;
    right: 8%;
    z-index: 1;
    width: 117px;
    height: 160px;
    animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

.container{
    height: 100%;
    /* margin-top: 60px; */
}

.textt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 65px; */
}

.textt h5{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #4582ff;
    padding-left: 20px;
    font-family: "Rubik", sans-serif;
    position: relative;
    margin-bottom: 23px;
    z-index: 2;
    padding-top: 80px;
}

.textt h5::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #4582ff;
    top: 90%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.textt h1{
    font-size: 65px;
    font-weight: 700;
    color: #0f2239;
}

.textt p{
    color: #989898;
}

.textt h1 span{
    color: #ff7f46;
    text-decoration: underline;
}

.textt p{
    font-size: 18px;
    max-width: 50%;
    margin: 20px 0 50px;
}

.textt ul{
    display: flex;
    align-items: center;
    margin-left: -38px;
}

.textt ul li{
    list-style: none;
}

.play{
    background-color: #0f2239;
    border-radius: 50%;
    margin-left: 50px;
    line-height: 31px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    padding: 13px 17px;

}

.play::before{
    position: absolute;
    content: "";
    opacity: .2;
    top: 0;
    left: 0;
    z-index: -1;
    /* animation: play_ani 1.5s linear infinite; */
    -webkit-animation: play_ani 1.5s linear infinite;
    -webkit-transition: all .3s linear;
}

@keyframes play_ani{
    0%{
        opacity: 1;
        -webkit-transform: scale(.9);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(1.7);
    }
}


@media only screen and (max-width: 400px){
    .bann{
        padding: 30px 0 90px;
    }
    .textt p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
    #menufix{
        height: 90px;
        background: #fff;
    }
    .container{
        padding: 0 18px;
    }
    .bann{
        /* height: auto; */
        background-position: 0 !important;
        height: 750px;
    }
    .bann::before, .bann::after{
        display: none;
    }
    .textt{
        padding-top: 0;
        padding-bottom: 0;
    }
    .textt h5{
        font-size: 15px;
    }
    .textt h1{
        font-size: 50px;
    }
    .textt h1 span{
        font-size: 40px;
    }
    .textt p{
        font-size: 16px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 576px){
    #menufix{
        height: 70px;
        background: #fff;
    }
    .container{
        max-width: 540px;
    }
    .bann{
        height: auto;
        padding: 170px 0 100px;
        background-position: 0 !important;
    }
    .bann::before{
        display: none;
    }
    .bann::after{
        display: none;
    }
    .textt{
        padding-top: 0;
        padding-bottom: 0;
    }
    .textt h1{
        font-size: 50px;
    }
    .textt p{
        font-size: 16px;
        max-width: 85%;
    }
    .read{
        font-size: 14px !important;
    }
    .play{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media only screen and (min-width: 768px){
    .textt{
        padding-top: 65px;
        padding-bottom: 0;
    }
    .textt p{
        font-size: 16px;
        max-width: 500px;
    }
}

@media only screen and (min-width: 992px){
    .conn{
        max-width: 960px;
    }
    #responsive-navbar-nav{
        display: flex !important;
        flex-basis: auto;
    }
    #nav{
        flex-direction: row;
    }
    .home1{
        margin-right: -25px;
    }
    .bann::before{
        display: block;
        /* top: 60%; */
        right: 30%;
        width: 85px;
        height: 115px;
    }
    .bann::after{
        display: block;
    }
}

@media only screen and (min-width: 1200px){
    .conn{
        max-width: 1320px;
    }
    #responsive-navbar-nav{
        display: flex !important;
        flex-basis: auto;
    }
    #nav{
        font-size: 22px;
        font-weight: 600;
        margin-left: 2%;
    }
    .home1{
        margin: 0 35px;
    }
    .bann::before{
        right: 10%;
    }
}